.cart-item {
    margin: 10px;
    width: 1000px;
    margin: 20px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cart-image-container {
	height: 150px;
}

.cart-image {
	height: 100%;
	width: auto;
}

.checkout-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.cart-empty-text {
    text-align: center;
    padding: 40px;
    font-size: 18pt;
}

.empty-cart-div {
    width: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-remove-button {
    font-size: 18pt;
}
