.cart-item {
	margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cart-image-container {
	height: 150px;
}

.cart-image {
	height: 100%;
	width: auto;
}
