.product-view-controls {
	width: 400px;
	/* margin: 20px auto; */
	display: flex;
	justify-content: space-around;
	/* border: 1px solid black; */
	grid-area: controls;
	margin: 0 auto auto auto;
}

.product-view-details {
	width: 350px;
	height: 400px;
	border: 1px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	font-size: 11pt;
	grid-area: details;
	margin: 100px auto 0 auto;
	background-color: #fff9f3;
}

.product-view-image-container {
	height: 500px;
	border: 1px solid black;
	border-radius: 3px;
	grid-area: photo;
	margin: 100px auto 0 auto;
	background-color: #fff9f3;
}

.product-view-image {
	height: 100%;
	width: auto;
}

.product-view-name {
	font-size: 18pt;
	text-decoration: underline;
}

.product-detail-header {
	font-weight: 700;
}

.product-view-ratings {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	border-radius: 3px;
	grid-area: ratings;
	margin: 0 auto 100px auto;
	background-color: #fff9f3;
}

.product-review {
	width: 250px;
	padding: 10px;
}

.review-edit-button {
	width: 20px;
	height: 20px;
}

.review-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.product-view-grid {
	width: 1500px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 605px 50px 1fr;
	grid-template-areas:
		"details photo"
		"ratings controls"
		"ratings controls";
}

.product-view-ratings-header {
	font-size: 18pt;
	padding: 10px;
	text-decoration: underline;
}

.review-user {
	font-size: 10pt;
}

.rating-thank-you {
	font-size: 12px;
	width: 300px;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}
