.product-view-controls {
    width: 300px;
    /* margin: 20px auto; */
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    grid-area: controls;
    margin: 0 auto auto auto;
}

.product-view-details {
    width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    font-size: 11pt;
    grid-area: details;
    margin: 100px auto 0 auto;
}

.product-view-image-container {
    width: 600px;
    border: 1px solid black;
    grid-area: photo;
    margin: 100px auto 0 auto;
}

.product-view-image {
    width: 100%;
    height: auto;
}

.product-view-name {
    font-size: 18pt;
    text-decoration: underline;
}

.product-detail-header {
    font-weight: 700;
}

.product-view-ratings {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    grid-area: ratings;
    margin: 0 auto 100px auto;
}

.product-review {
    width: 250px;
    padding: 10px;
}

.product-view-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 800px 50px 1fr;
    grid-template-areas: "details photo"
                         "details controls"
                         "details ratings";
}

.product-view-ratings-header {
    font-size: 14pt;
    text-decoration: underline;
}

.review-user {
    font-size: 10pt;
}
