.modal-blur {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-button-holder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

