.login-form {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 275px;
	border: 1px solid black;
	height: 250px;
	background-color: #fff9f3;
}

.signup-form {
	margin: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 400px;
	height: 650px;
	max-height: 800px;
	border: 1px solid black;
	background-color: #fff9f3;
}

.product-form {
	margin: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 450px;
	height: 850px;
	max-height: 800px;
	border: 1px solid black;
	background-color: #fff9f3;
}

.deletion-form {
	margin: 10px;
	width: 400px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	background-color: #fff9f3;
}

.form-label {
	position: relative;
	top: 2px;
	white-space: nowrap;
	left: 10px;
	font-size: 9pt;
	text-align: left;
	background-color: rgba(0, 0, 0, 0);
	width: 60px;
}

.form-textarea {
	width: 380px;
	height: 100px;
	resize: none;
	background-color: white;
	border: 2px solid #4af99b;
}

.form-input {
	background-color: white;
	padding: 3px;
	border-radius: 5px;
	border: 2px solid #4af99b;
}

.form-input:focus {
	background-color: #d2fde6;
}

.signup-form-input {
	background-color: white;
	width: 380px;
	padding: 3px;
	border-radius: 5px;
	border: 2px solid #4af99b;
}

.signup-form-input:focus {
	background-color: #d2fde6;
}

.field-holder {
	display: flex;
	flex-direction: column;
}

.login-button {
	background-color: #8efbc1;
	width: 120px;
	height: 30px;
	font-size: 11pt;
	text-align: center;
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.login-button:hover {
	background-color: #4af99b;
	transform: translateY(-1px);
}

.login-spacer {
	display: inline-block;
	width: 10px;
}

.password-warning {
	text-align: center;
	font-size: 9pt;
	color: red;
}

.upload-choice {
	display: flex;
	border: 1px solid black;
	border-radius: 10px;
	width: 120px;
	height: 30px;
	background-color: #8efbc1;
	text-align: center;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in-out;
}

.upload-choice:hover {
	background-color: #4af99b;
	transform: translateY(-1px);
}

input[type="file"] {
	position: absolute;
	z-index: -1;
	top: 56px;
	left: 10px;
	font-size: 15px;
	color: rgba(153, 153, 153, 0);
}

.form-upload-div {
	width: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.form-image-holder {
	height: 200px;
}

.form-image-preview {
	height: 100%;
	width: auto;
}

.user-edit-instruction {
	font-size: 10pt;
}

.warning-header {
	color: red;
	text-align: center;
}

.warning-text {
	color: red;
	font-size: 12px;
	padding-bottom: 10px;
	text-align: center;
}

.warning-div {
	background-color: #ffdfdf;
	width: 400px;
	padding-top: 10px;
	border-bottom: 1px solid black;
}

.warning-input {
	background-color: white;
	width: 370px;
	padding: 3px;
	margin-left: 10px;
	border-radius: 5px;
	border: 2px solid #fe2020;
}

.warning-input:focus {
	background-color: #ffdfdf;
}

.warning-button {
	background-color: #fe8080;
	width: 120px;
	height: 30px;
	font-size: 11pt;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.warning-button:hover {
	background-color: #fe2020;
	transform: translateY(-1px);
}

.product-form-select {
	background-color: white;
	width: 390px;
	height: 33px;
	border-radius: 5px;
	border: 2px solid #4af99b;
}

.product-form-select:focus {
	background-color: #d2fde6;
}

.select-div {
	width: 390px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.product-select-input {
	width: 200px;
	background-color: white;
	padding: 3px;
	border-radius: 5px;
	border: 2px solid #4af99b;
}

.product-select-input:focus {
	background-color: #d2fde6;
}

.product-unit-select {
	background-color: white;
	width: 120px;
	height: 33px;
	border-radius: 5px;
	border: 2px solid #4af99b;
}

.product-unit-select:focus {
	background-color: #d2fde6;
}
