.login-form {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 275px;
    border: 1px solid black;
    height: 250px;
    background-color:#FFF9F3;
}


.form-label {
    position: relative;
    top: 2px;
    white-space: nowrap;
    left: 10px;
    font-size: 9pt;
    text-align: center;
    background-color:rgba(0,0,0,0);
    width: 60px;
}

.form-input {
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #4AF99B;
}

.form-input:focus {
    background-color: #D2FDE6;
}


.field-holder {
    display: flex;
    flex-direction: column;
}


.login-button {
    background-color: #8EFBC1;
    width: 120px;
    height: 30px;
    font-size: 11pt;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.login-button:hover {
    background-color: #4AF99B;
    transform: translateY(-1px);
}

.login-spacer {
    display: inline-block;
    width: 8px;
}

