.searchbar-container {
	width: 800px;
	height: 35px;
	border: 2px solid black;
	border-radius: 50px;
	display: flex;
	align-items: center;
}

.searchbar-form {
	width: 750px;
	width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.searchbar-input {
	width: 730px;
	padding-left: 22px;
	height: 35px;
	border-right: 3px solid black;
}

.searchbar-submit-button {
	height: 38px;
	padding-left: 12px;
    padding-right: 18px;
    border-radius: 0px 50px 50px 0px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.searchbar-submit-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
