.product-container {
    width: 400px;
    height: 310px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 3px;
}

.product-preview-image-container {
    width: 400px;
    height: 250px;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.product-preview-image {
    overflow: hidden;
    width: 400px;
    padding-bottom: 9px;
    padding-top: 20px;
}

.product-preview-header {
    display: flex;
    padding: 3px;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#ffe1bf, #fff0df);
    border-bottom: 1px solid black;
}

.product-preview-name {
    font-weight: 600;
    font-size: 16pt;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-preview-rating {
    width: 380px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    bottom: 18px;
    padding-left: 14px;
    padding-right: 6px;
}

.product-preview-star {
    padding-top: 2px;
    padding-left: 5px;
    font-size: 12px;
}

.preview-rating {
    text-align: right;
    align-items: center;
    display: flex;
    align-items: center;
}
