.navbar-main-div {
    position: static;
    background-color: pink;
    height: 60px;
}

.nav-link-right {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.nav-control-buttons {
    display: flex;
    justify-content: space-around;
    width: 150px;
    align-items: center;
}

.cart-icon {
    font-size: 30px;
}
